* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.g-main {
    display: flex;
    box-sizing: border-box;
    width: 1000px;
    border: 1.4px solid #cacaca;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.m-div {
    box-sizing: border-box;
    width: 310px;
    border: 1.4px solid #cacaca;
    margin: 8px 3px;
}

.m-hd> img {
    width: 309px;
    height: 250px;
}

.m-ft {
    padding: 1px 6px;
}

.m-ft> li:nth-child(1)> .m-content {
    font-size: 14px;
} 

.m-ft> li:nth-child(2)> .m-content {
    font-size: 14px;
    color: red;
}

.m-ft> li:nth-child(3) {
    display: flex;
}

.m-ft> li:nth-child(3)> i {
    flex: 1;
}

.m-ft> li:nth-child(3)> .m-lt{
    font-size: 20px;
    color: red;
    margin-left: -6px;
}

.m-ft> li:nth-child(3)> .m-rt{
    font-size: 11px;
    color: red;
    margin-top: 12px;
}

.m-ft> li:nth-child(3)> .m-content{
    font-size: 11px;
    margin-top: 12px;
    margin-left: 4px;
    text-decoration: line-through;
}